/* Vote.module.css */
.cardContainer {
    width: auto;
    height: 17rem;
    padding-inline: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.375rem;
    border: 1px solid #f1f5f9;
    overflow: hidden;
    gap: 0.5rem;
    background-color: rgba(224, 242, 254, 0.5);
    transition: height 0.3s;
}

.cardContainer:hover {
    height: 20rem;
}

.otherInfoBox {
    display: flex;
    justify-content: space-between;
}

.openDetailButton {
    padding: 0.25rem;
    padding-inline: 0.5rem;
    border-radius: 10px;
    font-size: small;
    background-color: white !important;
    font-weight: normal;
}

.openDetailButton:hover {
    box-shadow: inset 0px 0px 3px rgb(185, 218, 231);
}