/* Vote.module.css */
.cardContainer {
    display: flex;
    flex-direction: column;
    width: 24rem;
    height: 16rem;
    padding: 1.25rem;
    margin: 0.5rem;
    border-radius: 0.375rem;
    border: 1px solid #f1f5f9;
    overflow: hidden;
    box-shadow: var(--shadow);
    gap: 0.5rem;
    background-color: rgba(224, 242, 254, 0.5);
    transition: height 0.3s;
}

.container:hover {
    height: 18rem;
}

.topSection {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}
