
.categoriesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
}

.categoryItem {
    font-size: small;
    padding-inline: 10px;
    padding-block: 5px;
    border: 1px solid rgb(117, 117, 117);
    border-radius: 12px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.categoryItem:hover {
    background-color: rgb(216, 214, 214);
}

.categoryItemSelected {
    background-color: rgb(216, 214, 214);
    transform: scale(1.05);
}