.categoriesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
}

.categoryItem {
    font-size: small;
    padding-inline: 10px;
    padding-block: 5px;
    border: 1px solid #c5c5c5;
    border-radius: 15px;
    transition-duration: 0.2s;
}

.hoverItem:hover {
    background-color: rgb(216, 214, 214) !important;
}

.categoryItemSelected {
    background-color: rgb(216, 214, 214) !important;
    transform: scale(1.05);
}