.categoryCotainer {
    display: flex;
    padding-inline: 5.5rem;
    gap: 0.5rem;
}

.category {
    display: flex;
    gap: 0.6rem;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.arrowButton {
    border: none;
}