@tailwind base;
@tailwind components;
@tailwind utilities;

  /* width */
  div::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  /* Track */
  div::-webkit-scrollbar-track {
    background: rgb(231, 242, 255);
    border-radius: 5px;
  }
  
  /* Handle */
  div::-webkit-scrollbar-thumb {
    background: rgb(147 197 253);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  div::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  form::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  /* Track */
  form::-webkit-scrollbar-track {
    background: rgb(231, 242, 255);
    border-radius: 5px;
  }
  
  /* Handle */
  form::-webkit-scrollbar-thumb {
    background: rgb(147 197 253);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  form::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
    
* {
 box-sizing: border-box;
}