.itemList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.item {
    position: relative;
    display: flex;
    gap: 0.5rem;
}

.itemCount {
    border-right: 2px solid;
    border-color: white;
    padding-right: 0.75rem;
}

.itemText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}