.listContainer {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.itemBox {
    position: relative;
    display: flex;
    gap: 0.5rem;
    text-overflow: ellipsis;
}

.itemCount {
    border-right: 2px solid #cef0ff;
    padding-right: 0.75rem;
}

.itemText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}