.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.25rem;
}

.sortText {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(var(--base-color-blue));
    font-weight: bolder;
    font-size: 1.2em;
}

.sortButton {
    height: 15px;
    justify-content: center;
    border-top-width: 1px;
    font-size: 12px;
    font-weight: lighter;
    font-family: math;
}