.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.25rem;
}

.sortText {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #35cdff;
    font-weight: 100;
    font-size: 1.2em;
    font-family: fantasy;
}

.sortButton {
    height: 15px;
    justify-content: center;
    font-size: 12px;
    font-weight: normal;
    border-top-width: 2px;
}