.logoTitle {
    color: rgb(107 114 128);
    font-weight: bold;
    font-size: 1.5rem;
}

.layoutHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: 5.5rem;
    padding-block: 1.5rem;
}

@media screen and (max-width: 500px) {
    .layoutHeader {
        padding-inline: 1rem;
    }
}

.profileCard {
    position: relative;
    display: flex;
    gap: 1.5rem;
}

.openFormButton:hover {
    background-color: rgb(209 213 219);
}

.profileMenuModal {
    width: max-content;
    padding: 0.25rem;
    position: absolute;
    top: 120%;
    right: 0;
    background-color: white;
    box-shadow: 0px 0px 5px silver;
    font-size: small;
    z-index: 10;
}

.profileMenuModal>button {
    width: 100%;
    padding: 0.5rem;
}

.profileMenuModal>a:hover,
.profileMenuModal>button:hover {
    background-color: whitesmoke;
}

.profileMenuModal>a {
    width: 100%;
    padding: 0.5rem;
    display: block;
}