.validationContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.vaildationContent {
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.topBar {
    display: flex;
    align-items: center;
}

.previewText {
    font-weight: bolder;
    font-size: large;
}
