.searchBox {
    width: 24rem;
    height: 60vh;
    position: absolute;
    bottom: 0;
    background-color: #e3e1d9;
    border-radius: 5px;
    clip-path: circle(15% at 39% 96%);
    animation: clipPathShowing 1s ease forwards;
}

@keyframes clipPathShowing {
    to {
        clip-path: circle(100%);
    }
}
.searchBar {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 1px solid white;
}

.searchBar > input {
    width: 100%;
    background-color: transparent;
    outline: none;
}

.outputSearchList {
    background-color: whitesmoke;
    overflow-y: scroll;
}