.sliderCotainer {
    scroll-behavior: smooth;
    overflow: hidden;
}

.sliderCotainer>div {
    display: flex;
    transform: translateX(5rem);
}

.whiteSpace {
    min-width: 50rem;
}

.voteList {
    height: 34rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    transition: opacity 0.5s;
}

.voteList:hover {
    opacity: 1;
}
