.sliderCotainer {
    width: 100vw;
    scroll-behavior: smooth;
    overflow: hidden;
}

.sliderCotainer>div {
    display: flex;
    transform: translateX(5rem);
}

.arrowButtonContainer {
    display: flex;
    align-items: center;
}

.sliderBtn {
    position: absolute;
    top: 50%;
    width: 2.5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    background-color: #514d4a;
    z-index: 10;
    border-radius: 0.25rem;
    cursor: pointer;
    /* pointer-events: none; */
    border: 1px solid white;
}

.sliderLeftBtn {
    left: 2.5rem;
}

.sliderRightBtn {
    right: 2.5rem;
}

.whiteSpace {
    min-width: 50rem;
}