.container {
    height: 10rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.countLabel {
    font-size: 0.875rem;
    font-weight: 400;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}