:root {
  --base-color-blue: 53, 205, 255;
  --base-color-green: 150, 245, 184;
  --base-color-vote: 53, 205, 255, 0.05;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

a {
  color: inherit;
  text-decoration: initial;
}

button, input[type="button"], input[type="submit"] {
  background-color: transparent;
  background-image: none;
  font-weight: inherit;
  line-height: inherit;
  font-size: inherit;
  cursor: pointer;
}

dialog {
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}

hr {
  width: 100%;
  border-width: 1px;
  border-top: 1px;
}



/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
div::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Track */
div::-webkit-scrollbar-track {
  background: rgb(212, 212, 212);
  border-radius: 5px;
}

/* Handle */
div::-webkit-scrollbar-thumb {
  background: rgb(54, 54, 54);
  border-radius: 5px;
}

/* Handle on hover */
div::-webkit-scrollbar-thumb:hover {
  background: #555;
}

form::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
form::-webkit-scrollbar-track {
  background: rgb(231, 242, 255);
  border-radius: 5px;
}

/* Handle */
form::-webkit-scrollbar-thumb {
  background: rgb(54, 54, 54);
  border-radius: 5px;
}

/* Handle on hover */
form::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  box-sizing: border-box;
}