.pageNavBox {
    display: flex;
    align-items: center;
}

.sliderBtn {
    position: absolute;
    top: 50%;
    width: 2.5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    background-color: #514d4a;
    z-index: 10;
    border-radius: 0.25rem;
    cursor: pointer;
    border: 1px solid white;
}

.arrowIcon {
    height: 100%;
}

@media screen and (max-width: 670px) {
    .sliderLeftBtn {
        left: 1rem !important;
    }

    .sliderRightBtn {
        right: 1rem !important;
    }
}

.sliderBtn:hover .movePageContainer {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.sliderLeftBtn {
    left: -3rem;
}

.sliderRightBtn {
    right: -3rem;
}

.movePageContainer {
    width: 1.5rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 100%;
    background-color: rgb(var(--base-color-green));
    border-radius: 5px;
    transition: 0.3s;
    transform: translateY(150%);
    visibility: visible;
    overflow: hidden;
    opacity: 0;
    z-index: 0;
}

.movePageInput {
    width: 100%;
    height: 1.5rem;
    outline: none;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: inherit;
    filter: brightness(1.05);
}

.movePageInput::placeholder {
    color: white;
    opacity: 1;
}

.movePageButton {
    font-size: 0.6rem;
    white-space: nowrap;
    color: white;
}

.movePageButton:hover {
    color: black;
}