.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #eafdff, #d7e7fc) !important;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 0.875rem;
}
