.titleBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleText {
    min-width: 25rem;
    overflow: hidden;
    font-weight: bold;
    font-size: medium;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profilesPicture {
    width: 2rem;
    height: 2rem;
    margin-right: 0.75rem;
    border-radius: 9999px;
}
