.console:hover::before {
    position: absolute;
    content: attr(data-username)"님의 투표 현황 \A" attr(data-pick);
    white-space: pre;
    top: 24px;
    left: 0;
    min-width: 100px;
    min-height: 50px;
    padding: 0.5rem;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(253, 253, 253);
    border-radius: 5px;
    border: 0.5px solid rgb(224, 224, 224);
    z-index: 100;
}

/* 
말풍선 꼬리
.console:hover::after {
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    content: "";
    position: absolute;
    top: 16px;
    left: 20px;
    z-index: 100;
} */