.voteList {
    height: 40rem;
    /* Tailwind's h-160 corresponds to 40rem */
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    transition: opacity 0.5s;
}

.voteList:hover {
    opacity: 1;
    /* Equivalent to hover:opacity-100 */
}
